<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VijaySridhara.Applications.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
       <userSettings>
        <VijaySridhara.Applications.My.MySettings>
         <setting name="ArchiveLocation" serializeAs="String">
          <value />
         </setting>
         <setting name="ExportLocation" serializeAs="String">
          <value />
         </setting>
         <setting name="CopyLocation" serializeAs="String">
          <value />
         </setting>
         <setting name="ImportFrom" serializeAs="String">
          <value />
         </setting>
         <setting name="BordColor1" serializeAs="String">
          <value>Black</value>
         </setting>
         <setting name="BordColor2" serializeAs="String">
          <value />
         </setting>
         <setting name="BordWidth1" serializeAs="String">
          <value>15</value>
         </setting>
         <setting name="BordWidth2" serializeAs="String">
          <value>15</value>
         </setting>
         <setting name="ResizeLength" serializeAs="String">
          <value>0</value>
         </setting>
         <setting name="Resize" serializeAs="String">
          <value>False</value>
         </setting>
         <setting name="LastArchive" serializeAs="String">
          <value>MainArchive</value>
         </setting>
         <setting name="IME1" serializeAs="String">
          <value />
         </setting>
         <setting name="IME2" serializeAs="String">
          <value />
         </setting>
         <setting name="IME3" serializeAs="String">
          <value />
         </setting>
         <setting name="MaxSide" serializeAs="String">
          <value>1024</value>
         </setting>
         <setting name="Border1" serializeAs="String">
          <value>False</value>
         </setting>
         <setting name="Border2" serializeAs="String">
          <value>False</value>
         </setting>
         <setting name="WorkFolder" serializeAs="String">
          <value />
         </setting>
        </VijaySridhara.Applications.My.MySettings>
    </userSettings>
</configuration>
